* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --off-white: #e5e5e5;
  --tranperent-white-1: rgba(225, 225, 225, 0.25);
  --tranperent-white-2: rgba(225, 225, 225, 0.1);
  --blue-1: #62b8f5;
  --blue-2: #39f186;
  --shadow: rgba(3, 46, 87, 0.2);
}

body {
  height: 100vh;
  background: linear-gradient(135deg, var(--blue-1), var(--blue-2));
}

.wrapper {
  font-size: 18px;
  width: 90vw;
  max-width: 28em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.container {
  width: 100%;
  background: var(--tranperent-white-2);
  backdrop-filter: blur(15px);
  padding: 3em 1.8em;
  border: solid 2px var(--tranperent-white-2);
  box-shadow: 0 1.8em 3.7em var(--shadow);
  border-radius: 8px;
  text-align: center;
}

.shape {
  position: absolute;
  background: var(--tranperent-white-1);
  backdrop-filter: blur(15px);
  border: solid 2px var(--tranperent-white-2);
  border-radius: 50%;
}

.shape-1 {
  height: 13em;
  width: 13em;
  right: -8em;
  top: 1.8em;
}

.shape-2 {
  height: 10em;
  width: 10em;
  left: -4.5em;
  bottom: 3.7em;
}

.searchcontainer {
  font-size: 1em;
  display: grid;
  grid-template-columns: 10fr 2fr;
  gap: 7px;
}

.searchcontainer input,
.searchcontainer button {
  font-size: 1em;
  outline: none;
  border: none
}

.searchcontainer input {
  padding: 5px;
  background: transparent;
  border-bottom: 3px solid var(--tranperent-white-1);
  color: var(--white);
  font-weight: 400;
  text-align: center;
}

.searchcontainer input::placeholder {
  color: var(--off-white);
}

.searchcontainer input:focus {
  border-color: var(--white);
}

.searchcontainer button {
  color: var(--blue-2);
  background: var(--white);
  border-radius: 8px;
}

#reasult h3 {
  margin: 0.8em;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.18em;
}

.temp-container h1 {
  color: var(--off-white);
  font-size: 5em;
  margin: 5px;
}

.temp-max {
  color: var(--white);
  display: flex;
  justify-content: center;
}

.temp-max div {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.3em 1em;
}

.temp-max div:first-child {
  border-right: 1px solid var(--off-white);
}

.wind-humidity {
  color: var(--white);
  display: flex;
  justify-content: center;
}

.wind-humidity div {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.3em 1em;
}

.wind-humidity div:first-child {
  border-right: 1px solid var(--off-white);
}